<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.c196project">

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <activity
            android:name=".AssessmentEdit"
            android:label="@string/assess_edit_title"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CourseEdit"
            android:label="@string/course_edit_title"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CourseNotes"
            android:label="@string/course_note_title" />
        <activity
            android:name=".ShareNotes"
            android:label="@string/share_notes_title"/>
        <activity
            android:name=".TermActivity"
            android:label="@string/term_activity_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TermEdit"
            android:label="@string/edit_term"
            android:theme="@style/NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>